<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href={{ style }} rel="stylesheet">
    <nav>
        {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
        {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
        {% endif %}</nav>
    {% if current_user.is_authenticated %}
        <a href="/jobs" class="btn btn-secondary">Добавить работу</a>
    {% endif %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>