{% extends "base.html" %}
{% block content %}
<h1 align="center">Список работ</h1>
{% for i in jobs %}
    <h2>Работа № {{loop.index}}</h2>
    <table>
        <tr>
            <th>Работа</th><th>Руководитель</th><th>Время выполнения</th><th>Работники</th><th>Закончена</th></br>
        </tr>
        <tr>
            {% if i.is_finished %}
            <td>{{i.job}}</td><td>{{names[i].name}} {{names[i].surname}}</td><td>{{i.work_size}}</td><td>{{i.collaborators}}</td><td>Закончена</td>
            {% else %}
            <td>{{i.job}}</td><td>{{names[i].name}} {{names[i].surname}}</td><td>{{i.work_size}}</td><td>{{i.collaborators}}</td><td>Не закончена</td>
            {% endif %}
        </tr>
    </table>
    {% if current_user.is_authenticated and (current_user.id == i.team_leader or current_user.id == 1)%}
    <button href=/job_delete/{{i.id}} color="red">Удалить работу</button>
    <button href=/jobs/{{i.id}} color="green">Редактировать работу</button>
    {% endif %}
{% endfor %}
{% endblock %}